.bg-accent {
  background-color: #ff6f61; /* Accent color */
}

.btnPrimary {
  background-color: #0e3f57;
  color: white;
}

.btnPrimary:hover {
  background-color: white;
  color: #0e3f57;
  border: solid;
  border-color: #0e3f57;
}

.btnSecondary {
  background-color: white;
  color: #0e3f57;
}

.btnSecondary:hover {
  background-color: #0e3f57;
  color: white;
  border: solid;
  border-color: white;
}

.bgPrimary {
  background-color: #0e3f57; /* Use Andamio's primary blue */
}

.textPrimary {
  color: #0e3f57;
}

.bgAccent {
  background-color: #ff6f61; /* Accent color */
}
