@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222.2 8% 95%;
    --foreground: 220 15% 16%;
    --card: 244 12% 89%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 203, 51%, 25%;
    --primary-foreground: 222.2 8% 95%;
    --secondary: 10 54% 82%;
    --secondary-foreground: 10 64% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 99.3% 46.9%;
    --accent: 39 86% 71%;
    --accent-foreground: 220 15% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 222.2 7.6% 52.9%;
    --ring: 221.2 13.2% 53.3%;
    --radius: 0.75rem;
    --warning: 38 61% 35%;
    --warning-foreground: 48 96% 89%;
    --success: 136 61% 25%;
    --success-foreground: 136 61% 85%;
    --editor-blue: 217 90% 30%;
    --editor-green: 92 90% 25%;
    --editor-orange: 21 90% 30%;
    --editor-yellow: 39 90% 30%;
  }

  .dark {
    --background: 222.2 7.6% 12.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 7.6% 12.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 44% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 44% 3.9%;
    --secondary: 222.2 7.6% 12.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 7.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --warning: 38 61% 65%;
    --warning-foreground: 38 92% 50%;
    --success: 136 61% 65%;
    --success-foreground: 210 40% 98%;
    --editor-blue: 217 90% 85%;
    --editor-green: 92 90% 85%;
    --editor-orange: 21 90% 85%;
    --editor-yellow: 39 90% 85%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-workSans text-foreground;
  }
}
@font-face {
  font-family: "Beckman";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/bennBeckmanMedium.woff2) format("woff2");
}

@font-face {
  font-family: "WorkSans";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "LibreFranklin";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/LibreFranklin-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Inconsolata-VariableFont_wght.ttf) format("truetype");
}

.CollapsibleContent {
  overflow: hidden;
  white-space: nowrap;
}
.CollapsibleContent[data-state="open"] {
  animation: slideIn 300ms ease-out;
}
.CollapsibleContent[data-state="closed"] {
  animation: slideOut 300ms ease-out;
}

@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: var(--radix-collapsible-content-width);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    width: var(--radix-collapsible-content-width);
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}

.link {
  @apply font-bold text-foreground underline hover:text-success;
}

.blockquote {
  @apply text-foreground;
}

.custom-code {
  @apply font-mono text-foreground;
}

/* CSS for Radix UI Toggle Group Items based on their state */
[data-state="on"] {
  background-color: #e0e0e0; /* Light grey background for active state */
  border: 1px solid #ccddee; /* Border to indicate active state */
}

[data-state="off"] {
  @apply border border-accent/80 bg-accent text-accent-foreground;
}

/* override the tiptap default */
.tippy-box {
  max-width: fit-content !important;
}
